footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  color: $white;
  text-align: center;
  background: $purple-modified;
  padding: 0;
  margin: 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

  p {
    font-size: 1em;
    margin: 0;
  }

  a {
    color: $white;
  }
}
